.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-card {
    max-width: 1000px;
    margin: 20px auto;
  }


  .mat-raised-button{
    background-color: coral;
  }

  mat-divider{
    background-color:brown;
  }

  .term{
    padding: 10px;
  }