<mat-card class="example-card">
  <h1>Password recovery</h1>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" style="margin-bottom: 20px">
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="New password" formControlName="newPassword" type="password">
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Confirm password" formControlName="confirmPassword" type="password">
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Change</button>
    </form>
  </mat-card-content>
</mat-card>
