* {
   padding: 0;
    margin: 0;
}
body{
    background-color: rgba(220,208,192,0.4);
}
#centerContent {

    margin-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
}
header {
    width: 100%;
    height: 13.5%;
    overflow: hidden;
    background-color: #dcd0c0;
    background-image: url("header3.png");
    background-repeat: no-repeat;
    background-position: center;
}


#loginHeader {
	float: right;
    position: relative;
    top: 30%;
    right: 2%;

}
#loginHeader *{
    float:right;
    clear: right;
    text-decoration: none;
    
}
#loggedUser {
/*	visibility: hidden;*/
}
nav {
    float: left;
    width: 100%;
    height: 4%;
/*    background-color: #f4f4f4;*/
    background-color: rgba(220,208,192,0.4);
}
nav li{
    width: 33%;
    text-align: center;
    float: left;
    list-style: none;
    position: relative;
}
nav a{
    padding: 1.5%;
    text-decoration: none;
    width: auto;
}
nav ul li a:hover {
    border-bottom: 3px solid #c0b283;
}
nav ul{
    position: relative;
    top: 15%;
}
#main{
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid rgba(55,55,55,.5);
    border-radius: 5px;
    background-color: #f4f4f4;
    width: 80%;
}
#mainTitle{
    position: relative;
    width: 100%;
    background-color: #c0b283;
    height: 2%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
#racuniHeader {
    margin-top: 1%;
    margin-bottom: 2%;
}
#racuniHeader *{
	width: 33%;
    text-align: center;
	border-right: 1.5px solid rgba(55,55,55,.5);
}
#brojRacunaHeader {
	float: left;
}
#poslednjaPromenaRacunaHeader {
	float: left;
}
#stanjeRacunaHeader {
	float:right;
    border-right: 0;
}

.racunLE {
    position: relative;
    margin-bottom: 2%;
    border-bottom: 1.5px solid rgba(55,55,55,.5);
    padding-bottom: 3%;
    padding-top: 3%;
}
.brojRacuna {
	float: left;
    width: 33%;
    text-align: center;
    
}
.poslednjaPromenaRacuna {
	float:left;
    width: 33%;
    text-align: center;
}
.stanjeRacuna {
	float: right;
    width: 33%;
    text-align: center;
}
/*
#brojRacuna {
    width: 100%;
    text-align: left;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgba(55,55,55,.1);
}
*/
thead{
    background-color: rgba(55,55,55,.1);
}
#detaljiRacuna *{
text-align: center;
}
#detaljiRacuna {
    position: relative;
    width: 33%;
    float: left;
    margin-top: 1%;
    margin-left: 33.5%;
}
#detailButtons{
    float:left;
    width: 30%;
    padding-top: 8.75%;
    padding-bottom: 1%;
}
#detailButtons *{
    float:left;
    clear:both;
    margin-bottom: 0.3%;
    width: 13%;
    background-color: rgba(220,208,192,0.4);
    text-decoration: none;
    border: 1px solid black;
    text-align: center;
}
#detailButtons *:hover {
	background-color: #c0b283;
}
tr:nth-child(odd)  {
    background-color: rgba(220,208,192,0.4);
}
#detailButtonHolder {
	float: left;
    width: 100%;
    margin-left: 3%;
}

.button {
	float: left;
    width: 26%;
    margin: 3% 0% 3% 3%;
    padding: 0.5%;
    text-align: center;
    background-color: rgba(220,208,192,0.4);
    text-decoration: none;
    border: 1px solid black;
}
.button:hover{
    background-color: #c0b283;
}
#neobradjeniNalozi {
    position: relative;
	float: left;
    width: 15%;
    margin-left: 10%;
    margin-top: 1.5%;
    border:1px;
    border-style: groove;
    
}
#neobradjeniNalozi ol li{
    margin-bottom: 15%;
}
#neobradjeniNalozi ol{
/*	float: left;*/
    list-style: none;
    max-height: 30%;
    overflow: auto;
    
/*    border-left: 1px solid black;*/
}
.neobradjeniNalozi {
    position: relative;
    margin-left: 5%;
/*    text-decoration: none*/
}
#neobradjeniHeader{
    text-align: center;
    background-color: rgba(220,208,192,1);
/*    border: 1px solid black;*/
}
#neobradjeniNalozi .button {
    padding: 0;
    margin-left: 6%;
}
#nalog {
    margin-top: 1%;
    float: left;
    width: 65%;	
}
#nalogL {
	float: left;
    width: 50%;
    text-align: center;
}

#nalogR {
	float: right;
    width: 50%;
}
#nalogButtons {
	float: left;
    margin-left: 35%;
    margin-top: 3%;
    margin-bottom: 2%;
    width: 80%;
}
#nalogButtons *{
    padding: 1% 7.5%;
    margin-right: 5%;
}
#nalogButtons button {
	background-color: rgba(220,208,192,0.4);
}
#izvestajHolder{
	float:left;
	margin-left:33%;
	margin-bottom:3%;
}
