#{extends 'TempViewFolder/template.html' /}
<div id="mainTitle">MOJI RAČUNI</div>
<div id="racuniHeader">
   <div id="brojRacunaHeader">Broj računa</div>
   <div id="poslednjaPromenaRacunaHeader">Poslednja promena</div>
   <div id="stanjeRacunaHeader">Stanje</div>    
</div>
#{list items:racuni, as:'racun'}
<div class="racunLE">
    <a href="@{RacunDetalji.show(racun.id)}" class="brojRacuna">${racun.brojRacuna}</a>
    #{list items:racun.dnevnoStanjeRacuna, as:'dnevnoStanjeRacuna'}
    
    #{if dnevnoStanjeRacuna_isLast == true }
    <div class="poslednjaPromenaRacuna">${dnevnoStanjeRacuna.novoStanje-dnevnoStanjeRacuna.prethodnoStanje}</div>
    <div class="stanjeRacuna">${dnevnoStanjeRacuna.novoStanje}</div>
	#{/if}
	#{/list}
</div>
#{/list}
