<div id="mainTitle">STANÐˆÐ• I OSNOVNI PODACI O RAÄŒUNU</div>
<table id="detaljiRacuna">
   <thead>
       <td id="brojRacunaL">Broj računa:</td>
       <td id="brojRacunaR">${racun.brojRacuna}</td>
   </thead>
   <tbody>
       <tr>
           <td id="vlasnikRacunaL">Vlasnik računa:</td>
           <td id="vlasnikRacunaR">${racun.klijent.ime}</td>
       </tr>
       <tr>
           <td id="datumOtvaranjaL">Datum otvaranja računa:</td>
           <td id="datumOtvaranjaR">${racun.datumOtvaranja}</td>
       </tr>
       <tr>
           <td id="trenutnoStanjeL">Trenutno stanje:</td>
           <td id="trenutnoStanjeR">${racun.brojRacuna}</td>
       </tr>
       <tr>
           <td id="poslednjaPromenaL">Poslednja promena:</td>
           <td id="poslednjaPromenaR">-250.00 RSD</td>
       </tr>
       <tr>
           <td id="poslednjaUplataL">Poslednja uplata:</td>
           <td id="poslednjaUplataR">1250.00 RSD</td>
       </tr>
       <tr>
           <td id="poslednjaIsplataL">Poslednja isplata:</td>
           <td id="poslednjaIsplataR">250.00 RSD</td>
       </tr>
   </tbody>
</table>
<div id="detailButtons">
    <a href="" id="poslednjaPromenaDetaljno">INFO</a>
    <a href="" id="poslednjaUplataDetaljno">INFO</a>
    <a href="" id="poslednjaIsplataDetaljno">INFO</a>
</div>
<div id="detailButtonHolder">
   <a href="" class="button">Provera uplata</a>
   <a href="" class="button">Pregled plaćanja</a>
   <a href="" class="button">Gačenje računa</a>
</div>